.AboutContainer{
    border: 2px solid black;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 3em;
    max-width: 880px;
    background: linear-gradient(90deg, rgba(207,214,230,1) 0%, rgba(231,239,249,1) 100%);
}

.DescriptionContainer{
    text-align: center;
    align-self: center;
    padding: 3em 3em 1em 3em;
}


.ImgContainer img{
    max-width: 438px;
    height: 100%;    
}

.ContactContainer{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.ContactContainer a{
    color: black;
}

@media (max-width: 900px) {
    .AboutContainer{
        display: flex;
        flex-direction: column;
        border: none;    
        margin-top: 1em;    
    }

    .ImgContainer img{
        border-radius: 50%;
        width: -webkit-fill-available;
        min-width: 200px;
        margin: 0 1em;
    }
    .DescriptionContainer{
        padding: 1em;
    }
}