.Input{
    border: none;
    border-radius: 3px;
    padding: 2px 10px;
}

.Container{
    padding: 1em;
}

.Btn{
    margin-left: 0.5em;
    border-style: none;
    background-color: transparent;
    border: solid 1.5px green;
    color: green;
    border-radius: 3px;
    font-weight: 600;
}

.Btn:hover{
    border: solid 1.5px transparent;
    background-color: green;
    color: white;
}